@media screen and (min-width: 480px) {
    .container.splide {
        display: flex;
    }    
}

.pagination {
    position: relative;
    width: 100%; 
    height: fit-content;
}

.pagination .custom-pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 -2px 0;
    padding-left: 0.5rem;
}

.pagination-item {
    height: 70px;
    width: 100%;
    cursor: pointer;
    background: none;
    transition: background 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item.is-active {
    border: #61686b 2px solid;
    border-bottom: #fff 3px solid;
    border-radius: 10px 10px 0 0;
    z-index: 3;
    background: rgba(255,255,255,0.95);
}

.pagination-item div {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item svg {
    width: 35px;
    height: auto;
    max-height: 35px;
}

.splide__slide .splide__content {
    height: 100%;
    border-radius: 10px;
    background: rgba(255,255,255,0.5);
}

.splide__content .title {
    border: #61686b 2px solid;
    height: 80px;
    margin: 0;
    color: #61686b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide__content .description {
    padding: 20px;
}

.splide__arrows {
    position: absolute;
    width: 100%;
    left: 0;
    top: 266px;
}

@media screen and (max-width: 480px) {
    .splide__arrows {
        top: 200px;
    }

    .splide__arrow--prev {
        left: 3px;
    }

    .splide__arrow--next {
        right: -2px;
    }
}

.list {
    list-style: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}

#email {
    cursor: pointer;
}

.icon svg {
    opacity: 0.6;
    transition: opacity ease 0.3s;
}

.icon:hover svg {
    opacity: 1;
}